.flex {
    display: flex;
}

.action {
    flex: 0;
}

.action-description {
    flex: 1;
}

.description {
    flex: 1;
}

.network-history {
    flex: 0 0 300px;
    margin-left: 20px;
}

.network {
    display: flex;
}

.network-status {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}